/* Define your theme modifications inside next mixin */
@mixin de_wirvsvirus_heatmapressources-hover-ext {

  .hover.v-app,
  .hover.v-app-loading {
    font: 400 14px/1.55 "Open Sans",sans-serif;
    color: #262626;
    background-color: #52aa4b;
    cursor: default;
  }

  $v-app-background-color: #52aa4b;
}
