<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="heatmapressources" transaction-type="RESOURCE_LOCAL">

        <class>de.wirvsvirus.heatmapressources.entity.administration.Users</class>
        <class>de.wirvsvirus.heatmapressources.entity.locations.Country</class>
        <class>de.wirvsvirus.heatmapressources.entity.locations.StateProvinceDistrict</class>
        <class>de.wirvsvirus.heatmapressources.entity.locations.CityTown</class>
        <class>de.wirvsvirus.heatmapressources.entity.hospital.Hospital</class>
        <class>de.wirvsvirus.heatmapressources.entity.hospital.HospitalContacts</class>
        <class>de.wirvsvirus.heatmapressources.entity.hospital.Contacts</class>
        <class>de.wirvsvirus.heatmapressources.entity.hospital.HospitalPatientRoom</class>
        <class>de.wirvsvirus.heatmapressources.entity.hospital.HospitalRoomFacilities</class>
        <class>de.wirvsvirus.heatmapressources.entity.hospital.Patients</class>
        <class>de.wirvsvirus.heatmapressources.entity.heatmaps.HeatMaps_Global</class>
        <class>de.wirvsvirus.heatmapressources.entity.heatmaps.HeatMapsKind</class>
        <class>de.wirvsvirus.heatmapressources.entity.administration.UserRights</class>
        <class>de.wirvsvirus.heatmapressources.entity.hospital.RespiratoryVentilator</class>
        <class>de.wirvsvirus.heatmapressources.entity.locations.Humans</class>
        <class>de.wirvsvirus.heatmapressources.entity.emergencytransportation.EmergencyTransportation</class>
        <class>de.wirvsvirus.heatmapressources.entity.emergencytransportation.Abmulance</class>
        <class>de.wirvsvirus.heatmapressources.entity.controlcenter.ControlCenter</class>
        <class>de.wirvsvirus.heatmapressources.entity.humanresources.MedicalProfessionals</class>
        <class>de.wirvsvirus.heatmapressources.entity.emergencytransportation.Emergency_Helicopter</class>
        <class>de.wirvsvirus.heatmapressources.entity.tracking_sources.services.GlobalResources</class>
        <class>de.wirvsvirus.heatmapressources.entity.tracking_sources.services.TrackingWhat</class>
        <class>de.wirvsvirus.heatmapressources.entity.heatmaps.HeatMap_Humans5G</class>
        <class>de.wirvsvirus.heatmapressources.entity.heatmaps.LayerWrapper</class>
        <class>de.wirvsvirus.heatmapressources.entity.locations.Things</class>
    </persistence-unit>
</persistence>
